<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Plan your next journey!</title>
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>       
        <section>
            <form id="form" class="" onsubmit="return Client.handleSubmit(event)" method="POST" action="/submit-form">
                <input id="input-city" type="text" name="input" value="" placeholder="enter your destination...">
                <input id="input-start-date" type="text" name="inputStart" value="" placeholder="yyyy-MM-dd">
                <!-- <input id="input-end-date" type="text" name="inputEnd" value="" placeholder="yyyy-MM-dd"> -->
                <input type="submit" name="" value="Show results" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        <section id="trips">
            
        </section>
        <footer>
            <div class="footer-wrap">
                <div>&copy; 2020 | </div>
                <div><a href=#">GitHub</a></div>
            </div>
        </footer>
    </body>
</html>