<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Plan your next journey!</title>
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>       
        <section>
            <form id="form" class="" onsubmit="return Client.handleSubmit(event)">
                <input id="input-name" type="text" name="input" value="" placeholder="enter your destination...">
                <input id="input-date" type="text" name="input" value="" placeholder="enter your departure date...">
                <input type="submit" name="" value="Search" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        <section>
        <section>
            <div id="city-name">[PLACEHOLDER FOR city-name]</div>
        </section>
        <section>
            <div id="travel-date">[PLACEHOLDER FOR travel-date</div>
        </section>
        <footer>
            <div class="footer-wrap">
                <div>e19101990 &copy; 2020 | </div>
                <div><a href="https://github.com/19101990/evaluate-news-nlp">GitHub</a></div>
            </div>
        </footer>
    </body>
</html>